@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mozilla+Headline:wght@200..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}
.wrapper {
    width: 100%;
    margin: auto;
    font-size: 20px;
    padding: 20px, 0px, 20px, 0px;
    
}
.li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*
* Menu 
*/
nav {
    background-color: #113F67;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu{
    width: 50%;
}

.Menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.Menu > ul > li > a {
    text-decoration: none;
    color: white;
}
.Logo{
    display: flex;
    align-items: center;

}
.Logo > img {
    height: 75px;
}

/*
* Hero / jumbotron
*/
 header {
    background: url('../image/Bg.header.jpg');
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Kanit" sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 4px #000;
}
.header-opacity {
    background-color: #113F67;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.header-jumbotron{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron > h4 {
    color: #516B6C;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}
.header-jumbotron > h5 {
    color: white;
    margin: 0px;
    padding: 5px;
    font-size: 3.5rem;
    line-height: 3.8rem;
    text-transform: uppercase;
}
.header-jumbotron > p {
    color: white;
    margin: 0px 5px 20px 5px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: white;
    text-shadow: none;
}
.button {
    background-color: #516B6c;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: "Kanit" sans-serif;
}
.button-xl {
    font-size: 1.4rem;
    padding: 20px;
}

/*
* statistic
*/
#statistic {
    background-color: #34699A;
    color: white;
    font-family: "Kanit" sans-serif;
}

#statistic > .wrapper {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#statistic > .wrapper > div {
    text-align: center;
}

#statistic > .wrapper > div > p {
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;

}

#statistic > .wrapper > div > p > i {
    margin-right: 10px;
    font-size: 3.5rem;
}

#statistic > .wrapper > div > small {
    font-size: 1.5rem;

}

/*
* Tentang Saya
*/

#tentang-saya {
    background-color: #58A0C8;
    color: white;
}

#tentang-saya > .wrapper {
    padding: 50px 0px 50px 0px;
}
#tentang-saya > .wrapper > h4 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit" sans-serif;
}

#tentang-saya > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

#tentang-saya > .wrapper > div {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#tentang-saya > .wrapper > div > .foto {
    width: 30%;

}
#tentang-saya > .wrapper > div > .foto > img {
    max-width: 100%;
}

#tentang-saya > .wrapper > div > .deskrip {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: #065084;
    border-radius: 10px;
    color: white;
    font-family: "Kanit" sans-serif;
}

#tentang-saya > .wrapper > div > .deskrip{
    font-family: "Kanit" sans-serif;
    margin: 0px 0px 10px 0px;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

#tentang-saya > .wrapper > div > .deskrip > .social {
    color: #58A0C8;
    width: 40%;
    justify-content: space-between;
    font-size: 0.8rem
}

#tentang-saya > .wrapper > div > .deskrip > .social > a {
    color: white;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-size: 1.3rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 40%;
    font-family: "Kanit" sans-serif;
    font-size: 1.3rem;
}
#tentang-saya > .wrapper > div > .deskrip > .social > a ::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* glow */
#tentang-saya > .wrapper > div > .deskrip > .social > a::before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000, #ff7300, #fffb00, #48ff00,
        #00ffd5, #002bff, #ff00c8, #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
     animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* hover */
#tentang-saya > .wrapper > div > .deskrip > .social > a:hover::before{
    opacity: 1;
}

#tentang-saya > .wrapper > div > .deskrip > .social > a :active::after {
    background: transparent;
}

#tentang-saya > .wrapper > div > .deskrip > .social > a :active{
    color: #000;
    font-weight: bold;

}

/*
* Free course
*/
#Free-course {
    background-color: #17313E;  
    color: white; 
}
#Free-course > .wrapper {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit" sans-serif;   
}
#Free-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit" sans-serif;
}
#Free-course > .wrapper > h4 > span {
    color: #FDF5AA;
}
#Free-course > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    margin-left: 30px;
}
#Free-course > .wrapper > .grid > .item{
    background-color: #065084;
    margin: 0px;
    padding: 0px;
}
#Free-course > .wrapper > .grid > .item-detail {
    padding: 0px;
    margin: 0px;
    font-size: 1.5;
    width: 100%;
}
#Free-course > .wrapper > .grid > .item-detail > img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#Free-course > .wrapper > .grid > .item-detail > div {
    padding: 10px 20px 10px 20px;

}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
    padding-left: 20px;
}
.grid > .item {
    border: 1px solid;
    background-color: #34699A;
    border-radius: 5px;
    position: relative;
}
.grid > .item > img {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.grid > .item > .item-detail {
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
}
.grid > .item > .item-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid > .item > .item-detail > div > small {
    color: white;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}
.grid > .item > .item-detail > div > a {
    font-size: 1rem;
    color: white;
    font-weight: normal;
}

/*
* copyright
*/
footer {
    background-color: #17313E;
    color: white;
    text-align: center;
}
footer > .wrapper {
    padding:  30px 0px 30px 0px;
}
/*
* HamburgerMenu
*/
button.HamburgerMenu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

button.HamburgerMenu > i {
    color: white;
    font-size: 1.5rem;
}
button.HamburgerMenu > i.icon-close {
    display: none;
}

/*
* 1024, 900, 768, 600, 450
*/
@media only screen and (max-width: 1024px){
    .wrapper {
        width: 90%;;
    }
}
@media only screen and (max-width: 900px){
    #statistic > .wrapper > div > p {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
}

#statistic > .wrapper > div > p > i {
    font-size: 2.5rem;
}
#statistic > .wrapper > div > small {
    font-size: 1rem;
}

.grid {
    grid-template-columns: 45% 45%;
}
.item > img  {
    width: 8%;
}
}
@media only screen and (max-width: 768px) {
    .Menu {
        width: 60%;
    }
    .header-jumbotron > h4 {
        font-size: 1.5rem;
    }
    .header-jumbotron > h5 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .header-jumbotron > p {
        font-size: 0.8rem;
    }

    .button {
        padding: 5px;
    }

    .button-xl {
        font-size: 1.5rem;
        padding: 10px;
    }

    #statistic > .wrapper > div > p > i {
        font-size: 1.5rem;
    } 
    #statistic > .wrapper > div > p {
        font-size: 1.5rem;
        margin: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 100%;

    }

    #statistic > .wrapper {
        padding: 10px;
        flex-direction: column;
    }

    #statistic > .wrapper > div {
        display: flex;
    }

    #statistic > .wrapper > div > small {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    #tentang-saya > .wrapper > div {
        width: 100%;
        flex-direction: column;
    }

    #tentang-saya > .wrapper > div > .foto {
        width: 50%;
    }

    #tentang-saya > .wrapper > div > .foto > img {
        max-width: 100%;
    }
    #tentang-saya > .wrapper > div > .deskrip {
        width: 70%;
        padding: 20px;
        margin: 10px;
    }

    #tentang-saya > .wrapper > div > .deskrip > .social {
        margin: auto;
    }

    button.HamburgerMenu {
        display: inline;
    }
    .Menu {
        display: none;
    }
    .Tampil {
        display: inline;
    }

    .Tampil > ul {
        flex-direction: column;
        background-color: black;
        width: 100%;
        position: fixed;
        top: 80px;
    }
}